body{
    background-color: rgb(211, 204, 204);
}

table{
    border: solid 10px rgb(44, 43, 43);
    height: 400px;
    width: 1000px;
    border-width: 2px;
    
}
td, th{
    border: solid 5px rgb(78, 77, 77);
    border-width: 2px;
}